.form-control {
  width: 40%;
  margin-top: 30px;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #2471A3;
  border-radius: 10px 12px;
  
} 

.output {
width: 500px;
height: 250px;
background-color: #ECF0F1 ; 
border: 1px solid black;
border-radius: 10px 12px;
color: black;
font-family: 'Roboto Slab', serif;

}

button {
  width: 10%;
  margin-top: 20px;
  
}

h4 {
  text-align: center;
  
}

p {
  font-style: italic;
  padding-top: 10px; 
}
